body {
  font-family: "Poppins", sans-serif;
  color: #777167;
}

button {
  display: block;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  text-transform: capitalize;
}

.container {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  height: 70vh;
  width: 60vw;
  padding: 0.5cm;
  margin: 15vh auto 0;
}

.searchTab {
  right: 50%;
  top: 17%;
  background: white;
  text-align: center;
  border: white;
}

.view-cityDate {
  position: relative;
  top: 8px;
  margin-left: 30px;
  color: #2e2823;
  margin-bottom: 30px;
}

.weather-temperature img {
  margin-top: -20px;
  margin-right: 5px;
  margin-left: 60px;
  height: 99px;
  width: 99px;
}
.weather-temperature strong {
  color: #2e2823;
  font-size: 84px;
  font-weight: 400;
  line-height: 64px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -50px;
}

.weather-temperature .active {
  color: #2e2823;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.col-sm {
  width: 30px;
  height: 73px;
  border: 1px solid gray;
  border-radius: 25px;
  text-align: center;
}
.daily-weatherStatus {
  font-size: 12px;
}
.coder {
  text-align: right;
  font-size: 14px;
}
